$bg_color: #FFC2B6;
$h1_color: #2BB27C;
$p_color: #FF8871;

html {
	font-size: 100%;
}
body {
	max-width: 100%;
	font: 1.5em/1.5 'Alegreya', serif;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background: $bg_color;
}
// Logo styles
.logo {
	margin: 1em;
	width: 100px;
	height: 100px;
	background: url('img/logo-lig-blk.svg');
	background-size: contain;
	background-repeat: no-repeat;
	@include hide-text();
}
.content {
	margin: 0 auto;
	padding: 0.4em;
	max-width: 38em;
}
div[class^="post"] {
	// Inside content post Paragraph styles
	p {
		color: $p_color;
		font-family: serif;
	}
	margin-bottom: 4em;
}
h1 {
	color: $h1_color;
	font-family: 'quicksandbold';
}

.circle {
	border-radius: 50%;
}